################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BrainBoxStore/FileContentIndex
/.vs
/README.txt.bak
/BrainBox.Core/obj
/BrainBox.Data/obj
/BrainBox.Repositories/obj
/BrainBox.Web/obj
*.user
