################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BrainBoxStore/FileContentIndex
/.vs
/README.txt.bak
/BrainBox.Core/obj
/BrainBox.Data/obj
/BrainBox.Repositories/obj
/BrainBox.Web/obj
*.user
*.suo
*.user
_ReSharper.*
bin
obj
packages
/.vs/CentralBillingSystem
/.vs/*
.vs/
echo ".vs/" >> .gitignore
echo "*.sln" >> .gitignore
*.sln
/AdminModules/Parkway.CBS.Admin.Module/bin/Debug/net5.0
/AdminModules/Parkway.CBS.Admin.Module/obj
/lib/Parkway.Tenant/obj
/tests/Parkway.Tenant.UnitTests/bin/Debug/netcoreapp3.1
/tests/Parkway.Tenant.UnitTests/obj
/lib/Parkway.Tenant/bin/Debug/netcoreapp3.1
*.editorconfig
*.log
*.bak
