################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BrainBoxStore/FileContentIndex
/.vs
/README.txt.bak
